<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon color="primary" class="watch-backbutton" name="arrow-back" (click)="back()"></ion-icon>
    </ion-buttons>

    <ion-title #title></ion-title>

    <ion-buttons slot="end">
      <ion-icon color="primary" class="route-info" name="information-circle-outline" (click)="presentRouteInfoPage()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainmap" #map></div>
  <ion-icon class="watch-location" name="md-locate" size="large" (click)="toggleLocation()" #watchlocation></ion-icon>
</ion-content>