<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title #title>watch</ion-title>

    <ion-buttons slot="end">
      <ion-icon class="route-info" name="information-circle-outline" (click)="presentRouteInfoPage()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainmap" #map></div>
  <ion-icon class="watch-location" name="md-locate" size="large" (click)="toggleLocation()" #watchlocation></ion-icon>
</ion-content>