<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-icon color="primary" class="watch-backbutton" name="arrow-back" size="large" (click)="back()"></ion-icon>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-label color="primary" style="text-decoration: underline;" (click)="moveAuthorList()">{{author}}
      </ion-label>
      <ion-icon color="primary" class="route-info" name="{{favoriteIcon}}" (click)="toggleFavorite()"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainmap" #map></div>


  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="md-apps"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="fastPlay($event)">
        <ion-icon color="primary" name="fastforward"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="togglePlay($event)">
        <ion-icon color="primary" [name]="isPlaying ? 'md-pause' : 'md-play'"> </ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="alretEditable($event)">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="bottom">
      <ion-fab-button (click)="presentRouteInfoPage($event)">
        <ion-icon color="primary" class="route-info" name="information"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="presentRouteExportPage($event)">
        <ion-icon color="primary" class="route-info" name="download"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="presentLayerSelect($event)">
        <ion-icon color="primary" name="md-albums"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="toggleSlopeLayer($event)">
        <ion-icon color="primary" name="trending-up"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="toggleLocation($event)">
        <ion-icon [color]="isWatchLocation ? 'primary' : ''" name="md-locate"> </ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>
</ion-content>