.mainmap {
  width: 100%;
  height: 100%;
}
.watch-location {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 10px 10px 0 0;
  color: #00000075;
}
.watch-location._active {
  color : #3880ffc4
}