<ion-header>
  <ion-toolbar>
    <ion-title>地図レイヤー選択</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (tap)="changeLayer(0)" (click)="changeLayer(0)" style="cursor: pointer;">
      <ion-label>OpenStreetMap</ion-label>
    </ion-item>
    <ion-item (tap)="changeLayer(1)" (click)="changeLayer(1)" style="cursor: pointer;">
      <ion-label>OpenCycleMap</ion-label>
    </ion-item>
    <ion-item (tap)="changeLayer(3)" (click)="changeLayer(3)" style="cursor: pointer;">
      <ion-label>国土地理院地図</ion-label>
    </ion-item>
  </ion-list>
  <ion-button color="light" expand="block" (click)="closeModal()">閉じる</ion-button>

</ion-content>