.card-author-border {
  background : #c5c5c5 !important;
}

.card-author {
  padding: 0 8px;
  color : grey;
}

.card-author ion-img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.card-author ion-label {
  margin-top: 0;
}

.list-thumb {
    transition: opacity 1s;
    min-height: 160px;
    min-width: 200px;
    width: 100%;
    border : none;
}