<ion-header no-border>
</ion-header>

<ion-content>
  <ion-img width="1080" height="360"
    src="https://gendai.ismedia.jp/mwimgs/6/c/-/img_6cbfa25cd466b50438131eb1a22911e0111248.jpg">
  </ion-img>
  <ion-item-group>
    <ion-item lines="none">
      <ion-avatar item-start class="ion-avatar">
        <img src="{{photoURL}}">
      </ion-avatar>
      <span (click)="logout()">ログアウト</span>
      <ion-label>{{displayName}}</ion-label>
      <ion-label text-wrap>
        {{body}}
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ul>
        <li>
          <ion-icon name="logo-twitter"></ion-icon>
        </li>
        <li>
          <ion-icon name="logo-facebook"></ion-icon>
        </li>
      </ul>
    </ion-item>
  </ion-item-group>
  <ion-item-divider></ion-item-divider>
  <ion-item-group>
    <ion-segment>
      <ion-segment-button value="post" (click)="showMyRoute()">
        <ion-label>投稿したルート</ion-label>
      </ion-segment-button>
      <ion-segment-button value="like" (click)="showLikeRoute()">
        <ion-label>いいねしたルート</ion-label>
      </ion-segment-button>
    </ion-segment>




    <ion-grid>
      <ion-row>
        <ion-col size="24" sizeXs="12" sizeMd="6" sizeXl="4" size *ngFor="let item of items">
          <ion-card class="one-image">
            <ion-card-header (click)="pageSelected(item)">
              <img class="list-thumb" lazyLoad='{{item.thumburl}}' offset="50" />
            </ion-card-header>

            <ion-card-content>
              <p class="create_at">{{item.created_at}}</p>
              <ion-card-title (click)="pageSelected(item)">{{item.title}}</ion-card-title>
              <ion-card-subtitle class="list-body">{{item.body}}</ion-card-subtitle>
              <ul class="route-info">
                <li>総距離<br />XXX.Xkm</li>
                <li>最大標高差<br />XXXXm</li>
                <li>獲得標高<br />XXXm</li>
                <!-- <li>GPSだったらアイコンだしたい</li> -->
              </ul>
              <ul class="startgoal-info">
                <li><span>スタート</span>愛知県名古屋市名東区藤が丘</li>
                <li><span>ゴール</span>豊田市井上町5丁目</li>
              </ul>
            </ion-card-content>

            <hr class="card-author-border" />

            <ion-item lines="none" class="card-author">
              <ion-avatar slot="start">
                <ion-img src="https://pbs.twimg.com/profile_images/1116003788433711104/QgeszHNu_400x400.jpg"></ion-img>
              </ion-avatar>
              <ion-label lines="none">{{item.author}}</ion-label>
            </ion-item>

          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item-group>

</ion-content>