.login-message {
    font-size: 90%;
    color: rgb(148, 148, 148);
    margin-bottom: 50px;
}

.login-button-row {
    max-width:300px; 
    text-align: center;
}
.login-button-el {
    text-transform: none;
}
