<ion-content>
  <ion-row class="wrapper-helper" style="max-width:500px">
    <p>
      各種ソーシャルアカウントを利用してログインできます。<br>
      ログインした情報はルート作成・いいね等の機能のためにのみ利用します。<br>
      <br>
      本サービス内ではログインもとの登録名は表示されず、ログイン後設定された名前が表示されます。
    </p>
  </ion-row>
  <div id="firebaseui-auth-container"></div>

  <footer>
    routehub.app © 2020&nbsp;&nbsp;
    <a href="https://routehub.github.io/route_web/terms.html">利用規約</a>&nbsp;&nbsp;
    <a href="https://routehub.github.io/route_web/privacypolicy.html">プライバシーポリシー</a>&nbsp;&nbsp;
    <!--<a href="https://forms.gle/BLxuJbPC56DrvuhQ6" target="_blank">お問い合わせ</a>-->
  </footer>
</ion-content>