<ion-content>
  <ion-row class="wrapper-helper" style="max-width:500px">
    <p>
      各種ソーシャルアカウントを利用してログインできます。<br>
      ログインした情報はルート作成・いいね等の機能のためにのみ利用します。<br>
      <br>
      本サービス内ではログインもとの登録名は表示されず、ログイン後設定された名前が表示されます。
    </p>
  </ion-row>
  <div id="firebaseui-auth-container"></div>

  <footer>
    routehub.app © 2019&nbsp;&nbsp;
    <a href="/terms">利用規約</a>&nbsp;&nbsp;
    <a href="/privacypolicy">プライバシーポリシー</a>&nbsp;&nbsp;
    <a href="https://forms.gle/BLxuJbPC56DrvuhQ6" target="_blank">お問い合わせ</a>&nbsp;&nbsp;
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=routehubapp%40gmail.com&item_name=Donate RouteHub server operation funds&currency_code=JPY&source=url"
      target="_blank">寄付をする</a>
  </footer>
</ion-content>