<ion-item-group>

  <ion-item>
    <ion-select interface="popover" [(ngModel)]="queryType">
      <ion-select-option *ngFor="let type of queryTypes">{{type.kana}}</ion-select-option>
    </ion-select>
    <ion-input [(ngModel)]="query"></ion-input>
  </ion-item>

  <ion-item>
    <ion-checkbox (ionChange)="distCheckboxChanged($event)" [(ngModel)]="distIsChecked">
    </ion-checkbox>
    <ion-label>
      距離(km)
    </ion-label>
    <ion-range min="0" max="1500" step="10" ticks="true" color="primary" dualKnobs="true" pin="true" snaps="true"
      disabled="{{isDistDisabled}}" [(ngModel)]="kmrange">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">1,500km</ion-label>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-checkbox (ionChange)="elevCheckboxChanged($event)" [(ngModel)]="elevationIsChecked"></ion-checkbox>
    <ion-label>
      獲得標高(m)
    </ion-label>
    <ion-range min=" 0" max="10000" step="100" ticks="true" color="primary" dualKnobs="true" pin="true" snaps="true"
      disabled="{{isElevDisabled}}" [(ngModel)]="elevrange">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">10,000m</ion-label>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-label>
      並び順
    </ion-label>
    <ion-select interface="popover" [(ngModel)]="sortType">
      <ion-select-option *ngFor="let type of sortTypes">{{type.kana}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" color="primary" (click)="search()">この条件で検索</ion-button>



</ion-item-group>