// TODO : variables.scss を参照するように変更する
@import "~@angular-mdc/theme/material";

$mdc-theme-primary: #ec1644;
$mdc-theme-secondary: #ffffff;

.search-card {
  height: 336px;
  max-width: 640px;

  position: relative;
}

.search-card__search-box {
  height: 48px;
}

.search-card__search-box__form {
  margin-top: 16px;
  margin-left: 18px;
  margin-bottom: 16px;
}

.search-card__search-box__form__input {
  height: 50px;
  padding: 0 0;
  position: absolute;
  top: 0;
  outline: 0;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  border: none;
}

#search-icon {
  top: 0;
  font-size: 16pt;
  margin-right: 16px;
  background: none;
  color: #757575;
}

.line {
  margin: 0;
  top: 0;
  width: 100%;
  border-top: 1px solid #e0e0e0;
}

.search-card__detail {
  height: 204px;
  width: 100%;
}

.search-card__detail__element {
  padding: 24px 24px 32px;
}

.mdc-slider--custom {
  @include mdc-slider-color-accessible($mdc-theme-primary);
}
