// TODO : variables.scss を参照するように変更する
@import "~@angular-mdc/theme/material";

$mdc-theme-primary: #ec1644;
$mdc-theme-secondary: #ffffff;

.search-card {
  height: 336px;
  max-width: 640px;

  position: relative;
  text-align: left;
}

//.search-card__search-box {
//  height: 48px;
//}

.search-card__search-box__form {
  width: 100%;
  height: 48px;
  padding-left: 18px;

}

.search-card__search-box__form__input {
  height: 48px;
  outline: 0;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding-left: 18px;
}

#search-icon {
  font-size: 18pt;
  background: none;
  color: #757575;
}

.line {
  margin: 0;
  top: 0;
  width: 100%;
  border-top: 1px solid #e0e0e0;
}

.search-card__detail {
  height: 204px;
  width: 100%;
}

.search-card__detail__element {
  padding: 24px 24px 32px;
}

.mdc-slider--custom {
  @include mdc-slider-color-accessible($mdc-theme-primary);
}
