<ion-header>
  <ion-toolbar>
    <ion-searchbar autocomplete="on" searchIcon="search" placeholder="サイクリング" animated [(ngModel)]="query"
      (ionChange)="wordChanged(query)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of items">

        <ion-card class="one-image" (click)="pageSelected(item)">
          <ion-card-header>
            <img class="list-thumb" lazyLoad='{{item.thumburl}}' offset="50" />
          </ion-card-header>

          <ion-card-content>
            <ion-card-title>{{item.title}}</ion-card-title>
            <ion-card-subtitle>{{item.body}}</ion-card-subtitle>
            <ul>
              <li>投稿者：{{item.author}}</li>
              <li>投稿日：{{item.created_at}}</li>
              <li>距離：25.0km</li>
              <li>最大標高差：38m</li>
              <li>獲得標高：29m</li>
            </ul>
          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="200px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="読み込み中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>