<ion-header>
  <ion-toolbar>
    <!--
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      検索
    </ion-title>
  -->
    <ion-searchbar autocomplete="on" searchIcon="search" placeholder="サイクリング" animated [(ngModel)]="searchText"
      (ionChange)="wordChanged()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="images">
    <ion-card class="one-image" *ngFor="let item of items" (click)="pageSelected(item)">
      <ion-card-header>
        <img [src]='{{ (item.thumburl) || (loadingAnimation ) }}'>
        <ion-card-subtitle>{{item.author}}</ion-card-subtitle>
        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
      </ion-card-content>

    </ion-card>
  </div>


  <!--
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      <ion-item (click)="pageSelected(item)">{{item.title}}</ion-item>
      <ion-item slot="end">{{item.author}}</ion-item>
    </ion-item>
  </ion-list>
-->
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>