<ion-header>
  <ion-toolbar>
    <ion-title>ルート情報</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>タイトル : + GPSタグ</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>作成者 :</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>作成日時 :</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>距離</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>標高</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>最大獲得標高差</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>平均斜度（全体、上り、下り）</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>想定所要時間</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Export .gpx, .fit</ion-label>
    </ion-item>
  </ion-list>
  <ion-button color="light" expand="block" (click)="closeModal()">閉じる</ion-button>

</ion-content>