<ion-header>
</ion-header>

<ion-content>
  <ion-row class="wrapper-helper" style="max-width:500px">
    <p><input type="file"><input type="button" value="アップロード"></p>
  </ion-row>

  <ion-row class="wrapper-helper" style="max-width:600px">
    <ul>
      <li><input type="text" value="ルート名1"> 30km 1,400m 東京都文京区,千葉県富津市 <input type="checkbox"><label>公開</label></li>
      <li><input type="text" value="ルート名2"> 30km 1,400m 東京都文京区,千葉県富津市 <input type="checkbox"><label>公開</label></li>

    </ul>
  </ion-row>

</ion-content>
