.mainmap {
  width: 100%;
  height: 100%;
}
.title, .total_dist, .total_elev, .max_elev{
  display:inline-block;
  color: white;
  margin-right:10px;
}
.total_dist > span , .total_elev > span , .max_elev > span {
  display:inline-block;
  min-width: 40px;
}
.editbar {
  width:100%;
  height: 40px;
  position : absolute;
  top:0;
  left:0;
  background:#ec16447d;
  z-index: 10;
}
.title{
  margin: 5px 20px;
  width: 300px;
  border: #ff9ba9 solid 1px;
  padding-left: 10px;
}
