// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.search-settingmenu {
  .popover-wrapper {
    display: flex;
    width: 100%;
/*    height: 100%; クリックイベント拾わなくなるので */
    justify-content: center;
  }

  .popover-content {
    width: calc(100% - 24px);
    top: 120px !important;
  }

  .popover-arrow {
    position: absolute;
    top: 90px;
    height: 20px;
    z-index: 9999;
    border: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
  }
  
}

.route-info hr {
  background : #c5c5c5 !important;
}

.map-editIcon {
  // animation: chikachika 0.5s;
  // animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes chikachika {
  0% {
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.login-button {
  font-size:0.9em;
  color:white;
  border: solid #ff82ac 1px;
  border-radius: 4px;
}
.login-button-mobile {
  position: absolute;
  top: 5px;
  right: 5px;
  border : none;
}
.login-button img {
    width: 30px;
    height: 30px;
}

.ion-avatar  {     
  margin: auto;
  width:100% !important;  
  height:100% !important;  
  max-width: 150px !important;  //any size
  max-height: 150px !important; //any size 
  }

.leaflet-tile {
  image-rendering: pixelated;
  filter: saturate(160%);
}
.leaflet-control-layers-toggle {
  display:none;
}
div.leaflet-bottom.leaflet-right {
    background: #ffffff4d;
}
.wrapper-helper {
  max-width:900px;
  margin:auto;
}
ion-toolbar {
  padding-top : 0 !important;
}
footer {
  max-width:900px;
  margin:auto;
  margin-top: 100px;
  font-size:0.8em;
  text-align: center;
}


/* 標高グラフ関連 */
.axis .domain {
  stroke: #ccc;
  position: relative;
}
.axis .tick line {
  stroke: #ccc;
}
.axis .tick text {
/*  stroke: #7c7c7c;;*/
/*  fill: #ccc;*/
  fill: #7c7c7c;
  font-family: "Helvetica Neue", "Roboto", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "游ゴシック体", "Yu Gothic", YuGothic, Verdana,
    Meiryo, sans-serif !important;
  font-size: 0.7rem;
}

.chart--tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px 15px;
  border-radius: 4px;
  color : #ec1644;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  font-size: 12px;
  font-weight: bold;
  max-width: 160px;
}


.brush .selection {
  fill: #ec1644;;
}

// mapboxgl gps button hide
.mapboxgl-control-container {
  .mapboxgl-ctrl-top-right {
    .mapboxgl-ctrl {
      display: none;
    }
  }
}

// mapboxgl logo hide
.mapboxgl-control-container {
  .mapboxgl-ctrl-bottom-left {
    .mapboxgl-ctrl {
      display: none !important;
    }
  }
}
