// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.search-settingmenu {
  /* ここは好みかなぁ
  ion-backdrop {
    background: none !important;
  }
  */

  .popover-content {
    width: 80%;
    top: 120px !important;
  }

  .popover-arrow {
    top: 91px !important;
    left: unset !important;
    right: 70px !important;
    width: 20px;
    position: absolute;
    height: 20px;
    z-index: 9999;
    border: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
  }
  
}

.map-editIcon {
  opacity: 0.6;
}

.login-button {
  font-size:0.9em;
  color:white;
  border: solid #ff82ac 1px;
  border-radius: 4px;
}
.login-button-mobile {
  position: absolute;
  backgound: white;
  top: 5px;
  right: 5px;
  background: #ff346a !important;
  color: white !important;
}