// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.search-settingmenu {
  .popover-wrapper {
    display: flex;
    width: 100%;
/*    height: 100%; クリックイベント拾わなくなるので */
    justify-content: center;
  }

  .popover-content {
    width: calc(100% - 24px);
    top: 120px !important;
  }

  .popover-arrow {
    position: absolute;
    top: 90px;
    height: 20px;
    z-index: 9999;
    border: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
  }
  
}

.route-info hr {
  background : #c5c5c5 !important;
}
/*
.map-editIcon {
  animation: chikachika 0.5s;
  animation-iteration-count: infinite;
}
*/
@keyframes chikachika {
  0% {
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.login-button {
  font-size:0.9em;
  color:white;
  border: solid #ff82ac 1px;
  border-radius: 4px;
}
.login-button-mobile {
  position: absolute;
  top: 5px;
  right: 5px;
  border : none;
  display: none; /* homeで書き換え */
}
.login-button img {
    width: 30px;
    height: 30px;
}

.ion-avatar  {     
  margin: auto;
  width:100% !important;  
  height:100% !important;  
  max-width: 150px !important;  //any size
  max-height: 150px !important; //any size 
  }

.leaflet-control-layers-toggle {
  display:none;
}
div.leaflet-bottom.leaflet-right {
    background: #ffffff4d;
}
.wrapper-helper {
  max-width:900px;
  margin:auto;
}


footer {
  max-width:900px;
  margin:auto;
  margin-top: 300px;
  margin-top: 100px;
  font-size:0.8em;
  text-align: center;
}