.migrate-discription {
    color : gray;
    padding-left : 20px;
}

.migrate-url-form ion-button, .migrate-url-form ion-buttons {
    margin: 0;
    padding: 0;
}

.migrate-page-form ion-textarea {
    width: 100%;
    padding: 0 !important;
}
ion-textarea {
    --background :  url("../../assets/copypaste.png")  center center no-repeat;
    background-size: contain
}
