<ion-content>

  <p class="migrate-discription" class="wrapper-helper" style="margin:20px;">
    URLを入力するか、ルートラボの画面からコピー&ペーストすると、データを取りこめます。<br>
    <!--    キューシートの表示やオフラインでの利用ができます。<br>-->
    非公開を含め、URLが削除されているルート以外は取り込むことができます。<br>
    <br>
    投稿済みのリストは<a href="/my">こちら</a>
  </p>


  <ion-item class="migrate-url-form" class="wrapper-helper" style="margin-top:50px; margin-bottom:50px;">
    <ion-label position="stacked">取り込みたいルートラボのURLを入力</ion-label>
    <ion-input type="url" placeholder="https://latlonglab.yahoo.co.jp/route/watch?id=xxxxxxx" [(ngModel)]="routeurl">
    </ion-input>
    <ion-buttons slot="end">
      <ion-button color="primary" size="large" fill="solid" (click)="importUrl()">取込</ion-button>
    </ion-buttons>
  </ion-item>


  <ion-item class="migrate-page-form" class="wrapper-helper" *ngIf="platform.is('desktop')">
    <ion-label position="stacked" style="margin-bottom: 20px;">コピー&ペーストでまとめて取り込み(<a
        href="https://latlonglab.yahoo.co.jp/route/my" target="_blank">ルートラボを開く</a>)</ion-label>
    <ion-item>
      <ion-textarea cols="120" rows="16" id="importarea" #importarea (paste)="onPaste($event)"></ion-textarea>
    </ion-item>
  </ion-item>

  <ion-list class="wrapper-helper">
    <ion-item *ngFor="let item of items">
      <!--<ion-spinner name="crescent" slot="start"></ion-spinner>-->
      <ion-icon name="checkmark-circle" [color]="item.color"></ion-icon>
      <ion-item (click)="pageSelected(item)">{{item.title}}</ion-item>
      <!--        <ion-item slot="end">{{item.author}}</ion-item>  -->
    </ion-item>
  </ion-list>

  <footer>
    routehub.app © 2019&nbsp;&nbsp;
    <a href="/terms">利用規約</a>&nbsp;&nbsp;
    <a href="/privacypolicy">プライバシーポリシー</a>&nbsp;&nbsp;
    <a href="https://forms.gle/BLxuJbPC56DrvuhQ6" target="_blank">お問い合わせ</a>&nbsp;&nbsp;
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=routehubapp%40gmail.com&item_name=Donate RouteHub server operation funds&currency_code=JPY&source=url"
      target="_blank">寄付をする</a>
  </footer>
</ion-content>