.titleimage {
  background: url("/assets/usui.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  margin:0;
  text-align: center;
  height:400px;
  overflow: hidden;
}

.titleimage > h2 {
  margin-top : 40px;
  font-size: 50px;
  font-weight: 900;
}
.titleimage-mobile > h2 {
  margin-top : 100px;
  font-size: 50px;
  font-weight: 900;
}
.titleimage-mobile > h1 {
    margin: 0 20px;
    text-align: left;
}
.titleimage-mobile > h1 > img {
    width: 120px;
}
ion-searchbar {
  --icon-color	: #ff000000;
}

footer {
  max-width:900px;
  margin:auto;
  margin-top: 300px;
  margin-top: 100px;
  font-size:0.8em;
  text-align: center;
}