<ion-header>
</ion-header>
<ion-content>
  <ion-grid style="padding:0">
    <ion-row>
      <ion-col class="titleimage" *ngIf="platform.is('desktop')">
        <h2>UPGRADE ルートラボ</h2>
        <p>
          ルートラボに足りない機能・作りたいやつを<br>サクサク追加していくアプリです<br>
          <span style="color:rgba(255, 255, 255, 0.295)">(おこられない感じで勝手に)</span>
        </p>

        <ion-buttons start style="min-width:400px; width:50%;margin:auto;margin-top:40px;">

          <ion-searchbar searchIcon="none" autocomplete="on" searchIcon="search" placeholder="サイクリング" animated
            [(ngModel)]="query">
          </ion-searchbar>
          <ion-button layout="end" (click)="search()">
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>

        </ion-buttons>
      </ion-col>

      <ion-col class="titleimage titleimage-mobile" [ngStyle]="titleimageheight" *ngIf="platform.is('mobile')">
        <h1><img src="./assets/logo-white.png" alt="routelabo"></h1>
        <h2>Upgrade<br>ルートラボ</h2>
      </ion-col>


      <ion-button class="login-button login-button-mobile" *ngIf="platform.is('mobile')" expand="block" fill="outline"
        (click)="logout()" layout="icon-end" #logoutButton><img src="{{photoURL}}">
      </ion-button>

      <ion-button class="login-button login-button-mobile" *ngIf="platform.is('mobile')" expand="block" fill="outline"
        (click)="toLoginPage()" layout="icon-end" #loginButton> ログイン・登録
      </ion-button>

    </ion-row>

    <ion-row style="max-width:900px;margin:auto;">
      <ion-col *ngIf="platform.is('desktop')">
        <iframe height='100%' width='100%' frameborder='0' allowtransparency='true' scrolling='no'
          src='https://dev.routelabo.com/embed/a09d69610acfcf763f662406162fc3bf'></iframe>
      </ion-col>
      <ion-col>

        <ion-list style="height:400px; overflow-y: scroll;">
          <ion-item>
            <ion-label>アップグレード完了/予定</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start" checked="true"></ion-checkbox>
            <ion-label>標高や距離で詳細に検索できる機能</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start" checked="true"></ion-checkbox>
            <ion-label>GPXエクスポートにコメントを含める</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start" checked="true"></ion-checkbox>
            <ion-label>標高を拡大して細かいアップダウンが<br>見られるようにする</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start" checked="false"></ion-checkbox>
            <ion-label>編集ポイントを引き継いだルートコピー機能</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start" checked="false"></ion-checkbox>
            <ion-label>スマホでルート作成</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start" checked="false"></ion-checkbox>
            <ion-label>ルート以外の近くのお店やいい景色も<br>ルートに追加可能にする</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start" checked="false"></ion-checkbox>
            <ion-label>アプリ提供と簡単なナビ機能</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start" checked="false"></ion-checkbox>
            <ion-label>使いやすいAPIの提供</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start" checked="false"></ion-checkbox>
            <ion-label>時刻表/キューシート機能</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start" checked="false"></ion-checkbox>
            <ion-label>ソースコードを公開して<br>みんなで改善できるようにする</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>随時追加します（<a target="_blank"
                href="https://docs.google.com/forms/d/e/1FAIpQLSfJvjsA_bOCGHkHMTTze11Jwy-_AF1RbV88YKpQNK85jxtUwA/viewform">要望があればこちらにどうぞ</a>）
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row style="max-width:900px;margin:auto;">
      <ion-col>
        <p>
          ポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエムポエム
        </p>
      </ion-col>
    </ion-row>

    <ion-row style="max-width:900px;margin:auto;">
      <ion-col>
        使い方ガイド
      </ion-col>
      <ion-col>
        Team
        ブログリンク
      </ion-col>
      <ion-col>
        寄付リンク
        問い合わせフォーム
      </ion-col>
    </ion-row>
  </ion-grid>


  <footer *ngIf="platform.is('desktop')" style="max-width:900px;margin:auto;">
    <ion-title>Footer</ion-title>
    copyrightだかなんだか
  </footer>
</ion-content>